body {
}

#main {
    width: 900px; 
    margin: 0 auto;
}
header { 
    height: 50px; 
    background-color: orange
}

ul {
   margin: 20px; 
   list-style: none;
}

article {
    font-family: myFont;
    float: left; 
    width: 700px; 
    margin-top: 20px;
}

aside {
    float: right; 
    width: 200px; 
    background-color: purple; 
    color: white; 
    margin-top: 20px;
    display: block;
}

form {
    clear: both; 
    padding-top: 20px;
}

label {
    width: 150px; 
    display: inline-block; 
    margin: 10px;
}

@font-face {
    font-family: myFont;
    src: url(fonts/supernett-cn_light-webfont.ttf);
}

/* Iphone 5*/
@media (min-width: 320px) and (max-width: 568px) {
    #main {
        width: 320px;
    }

    article {
        width: 310px;
    }
   
    header {
        background-color: green;
    }
    aside {
    /*    visibility:hidden;*/
        display: none;
    }
}

@media (min-width: 569px) and (max-width: 700px) {
    #main {
        width: 550px
    }

    article {
        width: 310px;
    }
   
    header {
        background-color: yellowgreen;
    }
    aside {
        display: inline-block;
    }
}



